@import 'tools/styles/flex';
@import 'tools/styles/grid';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';

.header {
    width: 100%;

    .content {
        @include dGrid();

        .logoContainer {
            .logo {
                @include dFlex();
                @include flexRow();
                @include removeLinkUnderline();

                width: fit-content;

                img {}

                .title {
                    font-style: normal;
                    font-weight: 700;
                    color: #11192A;
                }
            }
        }

        .tabsContainer {}
    }

    .bottomTabsContainer {
        .bottomTabs {}
    }
}

.darkTheme {
    .content {
        .logoContainer {
            .logo {
                .title {
                    color: #FFFFFF;
                }
            }
        }
    }
}

@include applyResponsive320() {
    .header {
        padding-bottom: 25px;

        .content {
            @include gridColumns(1fr 1fr);

            padding: 33px 27px 25px 35px;

            .logoContainer {
                .logo {
                    img {
                        width: 37px;
                        height: 38px;

                        margin-right: 13px;
                    }

                    .title {
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }

            .tabsContainer {
                display: none;
            }
        }

        .bottomTabsContainer {
            @include dFlex();
            @include flexRow();
            @include justifyContentCenter();

            padding-left: 35px;

            .bottomTabs {
                padding-right: 35px;
            }
        }
    }
}

@include applyResponsive768() {
    .header {
        padding-bottom: 0;

        .content {
            @include gridColumns(1fr 1fr 1fr);

            padding: 26px 74px 27px 74px;

            .logoContainer {
                .logo {
                    img {
                        width: 37px;
                        height: 38px;

                        margin-right: 13px;
                    }

                    .title {
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }

            .tabsContainer {
                display: block;
            }
        }

        .bottomTabsContainer {
            display: none !important;
        }
    }
}