@import 'tools/styles/flex';
@import 'tools/styles/grid';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.header {
    width: 100%;

    .content {
        @include dGrid();

        .logoContainer {
            .logo {
                @include dFlex();
                @include flexRow();
                @include removeLinkUnderline();

                width: fit-content;

                img {}

                .title {
                    font-style: normal;
                    font-weight: 700;
                    color: $indigo5;
                }
            }
        }

        .tabsContainer {}

        .buttonLocale {
            font-weight: bold;
            text-transform: uppercase;
            color: $black3;

            cursor: pointer;
        }
    }

    .bottomTabsContainer {
        .bottomTabs {}
    }
}

.darkHeader {
    .content {
        .logoContainer {
            .logo {
                .title {
                    color: $white1;
                }
            }
        }

        .buttonLocale {
            color: $white1;
        }
    }
}

@include applyResponsive320() {
    .header {
        padding-bottom: 25px;

        .content {
            @include gridColumns(1fr auto auto);
            @include alignItemsCenter();

            gap: 9px;
            padding: 33px 25px 25px 30px;

            .logoContainer {
                .logo {
                    img {
                        width: 37px;
                        height: 38px;

                        padding-right: 6px;
                    }

                    .title {
                        font-size: 10px;
                        line-height: 12px;

                        padding-top: 3px;
                    }
                }
            }

            .tabsContainer {
                display: none;
            }

            .buttonLocale {
                width: fit-content;

                font-size: 13px;
                line-height: 15px;

                margin-left: 6px;
            }
        }

        .bottomTabsContainer {
            @include dFlex();
            @include flexRow();
            @include justifyContentCenter();

            padding-left: 30px;

            .bottomTabs {
                padding-right: 35px;
            }
        }
    }
}

@include applyResponsive768() {
    .header {
        padding-bottom: 0;

        .content {
            @include gridColumns(auto 1fr auto auto);

            padding: 26px 30px 27px 50px;

            .logoContainer {
                .logo {
                    img {
                        width: 46px;
                        height: 38px;

                        padding-right: 10px;
                    }

                    .title {
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }

            .tabsContainer {
                display: block;
            }

            .buttonLocale {
                margin-left: 8px;
            }
        }

        .bottomTabsContainer {
            display: none !important;
        }
    }
}

@include applyResponsive1024() {
    .header {
        .content {
            @include gridColumns(auto 1fr auto auto auto);

            gap: 10px;
            padding: 26px 75px 27px 75px;

            .buttonLocale {
                font-size: 16px;
                line-height: 18px;

                padding-top: 2px;
                margin: 0;
            }
        }
    }
}

@include applyResponsive1280() {
    .header {
        .content {
            gap: 18px;
        }

        .buttonLocale {
            font-size: 18px;
            line-height: 20px;

            padding: 0;
        }
    }
}