@import 'styles/helpers';
@import 'tools/styles/flex';
@import 'tools/styles/grid';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.teams {
    @include dFlex();
    @include flexColumn();

    position: relative;

    .top {
        @include dFlex();
        @include flexColumn();
        @include alignItemsStart();

        width: 100%;
        font-weight: 500;

        .title {
            font-size: 25px;
            line-height: 40px;
            color: $black3;
        }

        .dateSeason {
            font-size: 15px;
            line-height: 30px;
            white-space: nowrap;
            color: $grey3;
        }
    }

    .list {
        @include dGrid();
        @include gridRows(1fr);
        @include lightBlueScrollBar();
    }
}

.darkTeams {
    .top {
        padding-bottom: 17px;

        .title {
            color: $white1;
        }

        .dateSeason {
            color: $lightIndigo2;
        }
    }

    .list {
        @include darkBlueScrollBar();
    }
}

@include applyResponsive320() {
    .teams {
        @include alignItemsCenter();
        padding: 44px 15px 20px 38px;

        .list {
            @include gridColumns(repeat(2, 1fr));

            width: fit-content;

            gap: 35px 45px;
            padding: 15px 30px 15px 0;
        }
    }
}

@include applyResponsive512() {
    .teams {
        .list {
            @include gridColumns(repeat(3, 1fr));
        }
    }
}

@include applyResponsive768() {
    .teams {
        .list {
            @include gridColumns(repeat(5, 1fr));
        }
    }
}

@include applyResponsive1280() {
    .teams {
        @include alignItemsStart();

        .list {
            @include gridColumns(repeat(8, 1fr));
            gap: 30px;
        }
    }
}

@include applyResponsive1440() {
    .teams {
        padding: 44px 0;

        .list {
            @include gridColumns(repeat(10, 1fr));
        }
    }
}