@import 'styles/helpers';
@import 'tools/styles/flex';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.matchesList {
    .title {
        font-style: normal;
        font-weight: 700;
        color: $black3;
    }

    .list {
        @include dFlex();
        @include lightBlueScrollBar();
    }
}

.darkMatchesList {
    .title {
        color: $white1;
    }

    .list {
        @include darkBlueScrollBar();
    }
}

@include applyResponsive320() {
    .matchesList {
        .title {
            font-size: 19px;
            line-height: 22px;

            margin-bottom: 20px;
        }

        .list {
            @include flexRow();
            @include overflowX(auto);
            @include hideScrollbar();

            max-width: 100%;

            gap: 7px;

            margin-bottom: 0;
        }
    }
}

@include applyResponsive1280() {
    .matchesList {
        .title {
            font-size: 19px;
            line-height: 22px;

            margin-bottom: 20px;
        }

        .list {
            @include dFlex();
            @include flexColumn();
            @include showScrollbar();
            @include lightBlueScrollBar();

            gap: 7px;

            padding-right: 15px;
            margin-bottom: 0;
        }
    }

    .darkMatchesList {
        .list {
            @include darkBlueScrollBar();
        }
    }
}