@import 'tools/styles/flex';
@import 'tools/styles/adaptive';

.networks {
    @include dFlex();
    @include flexRow();
    @include justifyContentEnd();
    @include alignItemsCenter();

    width: 100%;

    .network {}
}

@include applyResponsive320() {
    .networks {
        gap: 7px;

        .network {
            padding-top: 4px;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@include applyResponsive768() {
    .networks {
        gap: 10px;

        .network {
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

@include applyResponsive1280() {
    .networks {
        .network {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}