@import 'tools/styles/flex';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.mapsCard {
    @include dFlex();
    @include flexRow();

    background: $white4;
}

.darkMapsCard {
    background: $indigo4;
}

@include applyResponsive320() {
    .mapsCard {
        @include borderRadius(10px);

        gap: 5px;

        padding: 18px 33px 14px 26px;
    }
}

@include applyResponsive1280() {
    .mapsCard {
        @include borderRadius(10px);

        gap: 5px;

        padding: 18px 33px 14px 26px;
    }
}