$white1: #FFFFFF;
$white2: #F2F2F2;
$white3: #F2F3F3;
$white4: #F9F9FA;
$white5: #EDEDED;
$white6: #DCDCDC;

$grey1: #AFAFAF;
$grey2: #A4A4A4;
$grey3: #A2A2A2;
$grey4: #A1A1A1;
$grey5: #A0A0A0;
$grey6: #808080;
$grey7: #7C7C7C;
$grey8: #5C5C5C;
$grey9: #565656;
$grey10: #494949;
$grey11: #3D3D3D;
$grey12: #313131;
$grey13: #292929;

$black1: #040404;
$black2: #020202;
$black3: #000000;

$lightPink: #FF5353;
$pink: #DB0036;
$red: #BD0000;

$lightGreen: #79FF63;
$green: #159800;

$brightBlue: #3173FF;
$blue1: #334D85;
$blue2: #446ABB;
$dullBlue: #4F70B6;

$lightIndigo1: #8491AC;
$lightIndigo2: #7282A3;
$lightIndigo3: #616D86;
$lightIndigo4: #606E8C;
$lightIndigo5: #5C667D;
$lightIndigo6: #525E76;
$lightIndigo7: #415278;
$lightIndigo8: #3A4967;

$indigo1: #2C374E;
$indigo2: #273249;
$indigo3: #20293A;
$indigo4: #1F283B;
$indigo5: #11192B;
$indigo6: #0C1425;