@import 'tools/styles/helpers';
@import 'styles/constants';

@mixin lightBlueScrollBar() {
    @include customScrollbar() {
        @include borderRadius(10px);

        width: 4px;
        background: $white5;
    }

    @include customScrollThumb() {
        @include borderRadius(10px);

        width: 4px;
        background: $brightBlue;
    }
}

@mixin darkBlueScrollBar() {
    @include customScrollbar() {
        @include borderRadius(10px);

        width: 4px;
        background: $indigo1;
    }

    @include customScrollThumb() {
        @include borderRadius(10px);

        width: 4px;
        background: $brightBlue;
    }
}