@import 'tools/styles/flex';
@import 'tools/styles/adaptive';

.docs {
    .title {
        font-style: normal;
        font-weight: 500;
    }

    .subtitle {
        font-style: normal;
        font-weight: 500;
        color: #A1A1A1;
    }

    .list {
        @include dFlex();
        @include flexColumn();
    }
}

.darkDocs {
    .title {
        color: #FFFFFF;
    }

    .subtitle {
        color: #7282A3;
    }
}

@include applyResponsive320() {
    .docs {
        padding: 0 20px 0 20px;
        margin-bottom: 100px;

        .title {
            font-size: 25px;
            line-height: 159.4%;

            margin-bottom: 5px;
        }

        .subtitle {
            font-size: 15px;
            line-height: 22px;

            margin-bottom: 10px;
        }

        .list {
            gap: 10px;
            padding-left: 20px;
        }
    }
}

@include applyResponsive1280() {
    .docs {
        padding: 0;
        margin-bottom: 0;

        .subtitle {
            font-size: 16px;
            line-height: 22px;

            margin-bottom: 20px;
        }

        .list {
            gap: 15px;
            padding-left: 30px;
        }
    }
}