@import 'styles/constants';

.top {
    padding: 18px 0 9px 0;
    position: sticky;
    top: 0;
    background: $white1;

    .item {
        font-style: normal;
        font-weight: 500;
        color: $grey11;
        text-align: start;

        font-size: 11px;
        line-height: 12px;

    }

    .endItem {
        text-align: end;
        padding-right: 10px;
    }
}

.isDark {
    background: $indigo2;

    .item {
        color: $white1;
    }
}