@import 'tools/styles/flex';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.home {
    @include dFlex();

    .list {}

    .matchesAndPlayers {
        @include dFlex();

        .matches {
            background: $white4;
        }

        .players {
            background: $white4;
        }
    }

    .reportsAndTeams {
        @include dFlex();

        .reportsListContainer {
            .reports {
                background: $white4;
            }
        }

        .teamsListContainer {
            .teams {
                background: $white4;
            }
        }
    }
}

.isDark {
    .matchesAndPlayers {
        .matches {
            background: $indigo4;
        }

        .players {
            background: $indigo4;
        }
    }

    .reportsAndTeams {
        .reportsListContainer {
            .reports {
                background: $indigo4;
            }
        }

        .teamsListContainer {
            .teams {
                background: $indigo4;
            }
        }
    }
}

@include applyResponsive320() {
    .home {
        @include flexColumn();
        @include alignItemsCenter();

        gap: 17px;
        padding-bottom: 14px;

        .list {}

        .matchesAndPlayers {
            @include flexColumn();
            @include borderRadius(0);

            width: 100%;

            padding: 0 15px;

            .matches {
                @include borderRadius(15px);

                padding: 32px 20px 25px 20px;
            }

            .players {
                @include borderRadius(15px);

                padding: 29px 25px 24px 25px;
            }
        }

        .reportsAndTeams {
            @include flexColumnReverse();
            @include alignItemsCenter();

            width: 100%;

            gap: 17px;

            .reportsListContainer {
                width: 100%;
                padding: 0 15px;

                .reports {
                    @include borderRadius(25px);

                    width: 100%;

                    padding: 32px 19px 18px 19px;
                }
            }

            .teamsListContainer {
                @include hideScrollbar();

                width: 100%;
                overflow-x: auto;

                padding: 0 15px;

                .teams {
                    @include borderRadius(25px);

                    width: 100%;
                    min-width: 480px;

                    padding: 32px 11px 18px 10px;
                }
            }
        }
    }
}

@include applyResponsive768() {
    .home {
        @include flexColumn();
        gap: 10px;

        .matchesAndPlayers {
            @include flexColumn();

            padding: 0;
        }

        .reportsAndTeams {
            @include flexRow();
            @include alignItemsStart();

            gap: 10px;

            .reportsListContainer {
                padding: 0;

                .reports {}
            }

            .teamsListContainer {
                overflow-x: visible;
                padding: 0;

                .teams {
                    min-width: auto;
                }
            }
        }
    }
}

@include applyResponsive1280() {
    .home {
        @include flexRow();
        @include alignItemsStart();
        @include justifyContentCenter();

        .list {
            @include overflowY(auto);

            max-height: calc(100vh - 302px);
        }

        .matchesAndPlayers {
            @include flexRow();
            @include borderRadius(25px);

            width: 440px;
            background: $white4;

            padding: 32px 17px 0 32px;

            .matches {
                @include borderRadius(0);

                width: 100%;

                padding: 0;
                margin-right: 20px;
                margin-bottom: 0;
            }

            .players {
                @include borderRadius(0);

                padding: 0;
            }
        }

        .reportsAndTeams {
            @include flexRow();

            .reportsListContainer {
                .reports {
                    @include borderRadius(25px);

                    padding: 32px 21px 0 33px;
                }
            }

            .teamsListContainer {
                .teams {
                    @include borderRadius(25px);

                    padding: 32px 20px 0 25px;
                }
            }
        }
    }

    .isDark {
        .matchesAndPlayers {
            background: $indigo4;
        }
    }
}