@import 'tools/styles/flex';
@import 'tools/styles/helpers';
@import 'styles/constants';

.teamsBar {
    @include dFlex();
    @include flexRow();
    @include hideScrollbar();

    background: $white4;
    overflow-x: auto;

    .team {
        padding: 31px 25px 32px 25px;

        .icon {
            min-width: 55px;
            height: 55px;
        }
    }

    .isActive {
        @include borderRadius(5px);

        background: $pink;
    }
}

.darkTheme {
    background: $indigo5;
}