@import 'styles/constants';

.lightPositive {
    font-weight: 700;
    color: $green;
}

.lightNegative {
    font-weight: 700;
    color: $red;
}

.darkPositive {
    color: $lightGreen;
}

.darkNegative {
    color: $lightPink;
}