@import 'tools/styles/flex';
@import 'tools/styles/helpers';
@import 'styles/constants';

.primaryButton {
    @include dFlex();
    @include flexRow();
    @include justifyContentCenter();
    @include alignItemsCenter();
    @include defaultButton();
    @include borderRadius(5px);

    background: $dullBlue;

    color: $white1;
    cursor: pointer;
}

.link {
    @include removeLinkUnderline();
}

.isDark {
    background: $dullBlue;
}