@import 'tools/styles/adaptive';
@import 'styles/constants';

.row {
    .item {
        font-style: normal;
        font-weight: 500;
        color: $black3;
        text-align: center;

        &:not(:last-child) {
            border-right: 1px solid $white5;
        }
    }
}

.darkRow {
    .item {
        color: $white1;

        &:not(:last-child) {
            border-right: 1px solid $lightIndigo8;
        }
    }
}

@include applyResponsive320() {
    .row {
        .item {
            font-size: 12px;
            line-height: 13px;

            padding: 5px 0 10px 0;
        }
    }
}

@include applyResponsive1280() {
    .row {
        .item {
            font-size: 12px;
            line-height: 13px;

            padding: 5px 0 10px 0;
        }
    }
}