@import 'tools/styles/flex';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';

.match {
    @include dFlex();

    .left {
        @include dFlex();

        .commonCardContainer {
            @include dFlex();

            .commonCard {}
        }

        .mapsCardContainer {
            @include dFlex();

            .mapsCard {}
        }
    }

    .statsCardContainer {
        @include dFlex();

        .statsCard {}
    }

    .right {
        @include dFlex();

        .teamCardContainer {
            .team1Card {}

            .team2Card {}
        }
    }
}

@include applyResponsive320() {
    .match {
        @include flexColumn();

        width: 100%;

        gap: 12px;

        .left {
            @include flexColumn();

            gap: 10px;

            .commonCardContainer {
                @include flexRow();
                @include justifyContentCenter();

                .commonCard {}
            }

            .mapsCardContainer {
                @include justifyContentCenter();

                .mapsCard {
                    width: fit-content;
                }
            }
        }

        .statsCardContainer {
            @include flexRow();
            @include justifyContentCenter();

            .statsCard {
                margin-right: 0;
                margin-bottom: 12px;
            }
        }

        .right {
            @include flexColumn();

            .teamCardContainer {
                @include hideScrollbar();

                overflow: auto;

                .team1Card {
                    width: fit-content;

                    margin: 0 15px 12px 15px;
                }

                .team2Card {
                    width: fit-content;
                    margin: 0 15px;
                }
            }
        }
    }
}

@include applyResponsive768() {
    .match {
        .left {
            @include flexRow();
            @include justifyContentCenter();
            @include alignItemsCenter();

            margin-right: 0;

            .commonCardContainer {
                .commonCard {
                    margin-bottom: 0;
                }
            }

            .mapsCardContainer {
                .mapsCard {}
            }
        }

        .statsCardContainer {
            .statsCard {
                margin-bottom: 0;
            }
        }

        .right {
            @include alignItemsCenter();

            .teamCardContainer {
                .team1Card {
                    margin: 0;
                    margin-bottom: 12px;
                }

                .team2Card {
                    margin: 0;
                }
            }
        }
    }
}

@include applyResponsive1280() {
    .match {
        @include flexRow();

        .left {
            @include flexColumn();
            @include justifyContentStart();
            @include alignItemsStart();

            .commonCardContainer {
                .commonCard {}
            }

            .mapsCardContainer {
                .mapsCard {}
            }
        }

        .statsCardContainer {
            .statsCard {
                margin-bottom: 0;
            }
        }

        .right {
            .teamCardContainer {
                .team1Card {
                    margin-bottom: 12px;
                }

                .team2Card {}
            }
        }
    }
}