@import 'tools/styles/flex';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.match {
    @include dFlex();
    @include flexColumn();
    @include alignItemsCenter();

    background: $white1;

    .date {
        font-style: normal;
        font-weight: 400;
        color: $brightBlue;
    }

    .vs {
        @include dFlex();
        @include flexRow();
        @include justifyContentBetween();
        @include alignItemsCenter();

        .teamImage {}

        .vsImage {}
    }

    .time {
        font-style: normal;
        font-weight: 400;
        color: $grey7;
    }
}

.darkMatch {
    background: $indigo2;

    .time {
        color: $white1 !important;
    }
}

@include applyResponsive320() {
    .match {
        @include borderRadius(10px);

        width: 100%;

        padding: 21px 33px 25px 32px;

        .date {
            font-size: 13px;
            line-height: 14px;

            margin-bottom: 13px;
        }

        .vs {
            width: 100%;

            margin-bottom: 16px;

            .teamImage {
                width: 50px;
                height: 50px;
            }

            .vsImage {
                width: 34px;
                height: 46px
            }
        }

        .time {
            color: $black3;
            font-size: 13px;
            line-height: 14px;
        }
    }
}

@include applyResponsive1280() {
    .match {
        @include borderRadius(10px);

        width: 100%;

        padding: 21px 33px 25px 32px;

        .date {
            font-size: 13px;
            line-height: 14px;

            margin-bottom: 13px;
        }

        .vs {
            width: 100%;

            margin-bottom: 16px;

            .teamImage {
                width: 50px;
                height: 50px;
            }

            .vsImage {
                width: 34px;
                height: 46px
            }
        }

        .time {
            color: $grey7;
            font-size: 13px;
            line-height: 14px;
        }
    }
}