@import 'tools/styles/flex';
@import 'tools/styles/grid';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.matchesListContainer {
    @include dFlex();
    @include hideScrollbar();

    .emptyResult {
        color: $black3;
    }

    .matchesList {
        @include borderRadius(25px);

        height: fit-content;
        background: $white4;

        .content {
            @include dFlex();

            .title {
                font-weight: 500;
                color: $black3;
            }

            .listContainer {
                .list {
                    @include dFlex();

                    .match {
                        background: $white1;
                    }
                }
            }
        }
    }
}

.isDark {
    .emptyResult {
        color: $white1;
    }

    .matchesList {
        background: $indigo4;

        .content {
            .title {
                color: $white1;
            }

            .listContainer {
                .list {
                    .match {
                        background: $indigo2;
                    }
                }
            }
        }
    }
}

@include applyResponsive320() {
    .matchesListContainer {
        width: 100%;
        max-width: 662px;

        overflow: auto;

        .matchesList {
            width: fit-content;
            padding: 20px 26px 20px 26px;

            .content {
                @include flexColumn();
                gap: 16px;

                .title {
                    font-size: 12px;
                    line-height: 14px;
                }

                .listContainer {
                    .list {
                        @include flexRow();
                        gap: 5px;

                        .match {
                            min-height: 160px;
                            padding: 20px 22px;
                        }
                    }
                }
            }
        }
    }
}

@include applyResponsive768() {
    .matchesListContainer {
        @include justifyContentCenter();

        max-width: 100%;
        overflow: visible;

        .matchesList {
            .content {
                .listContainer {
                    @include hideScrollbar();

                    max-width: 610px;
                    overflow: auto;

                    .list {
                        .match {
                            padding: 21px 23px 25px 22px;
                        }
                    }
                }
            }
        }
    }
}

@include applyResponsive1280() {
    .matchesListContainer {
        @include justifyContentStart();

        .matchesList {
            .content {
                .listContainer {
                    .list {
                        .match {
                            padding: 15px 20px;
                        }
                    }
                }
            }
        }
    }
}