.lightPositive {
    font-weight: 700;
    color: #159800;
}

.lightNegative {
    font-weight: 700;
    color: #BD0000;
}

.darkPositive {
    color: #79FF63;
}

.darkNegative {
    color: #FF5353;
}