@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.tab {
    @include removeLinkUnderline();
    @include borderRadius(5px);

    display: block;
    position: relative;
    background: $white3;
    width: fit-content;

    font-style: normal;
    font-weight: 400;
    color: #7C7C7C;
    cursor: pointer;

    font-size: 9px;
    line-height: 11px;
}

.isActive {
    background: $blue2;
    color: $white1;
}

.darkTheme {
    background: $indigo4;
    color: $lightIndigo3;
}

.isDarkActive {
    background: $blue1;
    color: $white1;
}

@include applyResponsive320() {
    .tab {
        padding: 12px 20px;
    }
}

@include applyResponsive768() {
    .tab {
        padding: 10px 14px;
    }
}

@include applyResponsive1024() {
    .tab {
        padding: 12px 20px;
    }
}