@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';

.tab {
    @include removeLinkUnderline();
    @include borderRadius(5px);

    display: block;
    position: relative;
    background: #F2F3F3;
    width: fit-content;

    font-style: normal;
    font-weight: 400;
    color: #7C7C7C;
    cursor: pointer;

    font-size: 9px;
    line-height: 11px;
}

.isActive {
    background: #446ABB;
    color: #FFFFFF;
}

.darkTheme {
    background: #1F283C;
    color: #616D86;
}

.isDarkActive {
    background: #334D85;
    color: #FFFFFF;
}

@include applyResponsive320() {
    .tab {
        padding: 12px 20px;
    }
}

@include applyResponsive768() {
    .tab {
        padding: 10px 14px;
    }
}

@include applyResponsive1024() {
    .tab {
        padding: 12px 20px;
    }
}