@import 'tools/styles/adaptive';
@import 'tools/styles/helpers';
@import 'tools/styles/animations';
@import 'styles/constants';

.toggle {
    position: relative;
    display: inline-block;

    input {
        width: 0;
        height: 0;

        opacity: 0;

        &:checked+span {
            background: $indigo4;
        }

        &:checked+span::before {
            background: $blue1;
        }
    }

    span {
        @include borderRadius(30px);
        @include easeTransition();

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: $black3;
        cursor: pointer;

        &::before {
            @include borderRadius(50%);
            @include easeTransition();

            position: absolute;
            left: 3px;
            bottom: 2px;

            background: $white1;
            content: '';
        }
    }
}

@include applyResponsive320() {
    .toggle {
        width: 35px;
        height: 20px;

        input {
            &:checked+span::before {
                @include transform(translateX(14px));
            }
        }

        span {
            &::before {
                width: 16px;
                height: 16px;
            }
        }
    }
}

@include applyResponsive768() {
    .toggle {
        width: 45px;
        height: 22px;

        input {
            &:checked+span::before {
                @include transform(translateX(21px));
            }
        }

        span {
            &::before {
                width: 18px;
                height: 18px;
            }
        }
    }
}

@include applyResponsive1280() {
    .toggle {
        width: 60px;
        height: 28px;

        input {
            &:checked+span::before {
                @include transform(translateX(30px));
            }
        }

        span {
            &::before {
                width: 24px;
                height: 24px;
            }
        }
    }
}