@import 'styles/helpers';
@import 'tools/styles/flex';
@import 'tools/styles/grid';
@import 'tools/styles/adaptive';

.matches {
    @include dFlex();
    position: relative;

    width: 100%;

    .emptyResult {
        text-align: center;
        color: $black3;
    }

    .list {
        @include dGrid();
        @include gridRows(1fr);
        @include lightBlueScrollBar();

        width: 100%;

        .match {
            background: $white4;
        }
    }
}

.isDark {
    .emptyResult {
        color: $white1;
    }

    .list {
        @include darkBlueScrollBar();

        .match {
            background: $indigo2;
        }
    }
}

@include applyResponsive320() {
    .matches {
        @include justifyContentCenter();

        padding-left: 15px;
        padding-right: 10px;

        .list {
            @include gridColumns(minmax(100%, 360px));

            gap: 13px;
            padding-right: 10px;
        }
    }
}

@include applyResponsive768() {
    .matches {
        padding: 0;

        .list {
            @include gridColumns(repeat(2, 1fr));

            gap: 18px;
            padding: 18px 18px 18px 0;
        }
    }
}

@include applyResponsive1280() {
    .matches {
        .list {
            @include gridColumns(repeat(3, 1fr));

            gap: 20px;
            padding: 18px 25px 10px 0;
        }

    }
}

@include applyResponsive1440 {
    .matches {
        .list {
            padding-top: 18px;
        }
    }
}