@import 'tools/styles/flex';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.player {
    @include removeLinkUnderline();

    background: $white1;

    .avatar {
        @include dFlex();
        @include flexRow();
        @include justifyContentCenter();
        @include alignItemsEnd();

        position: relative;

        .backgroundImage {
            position: absolute;

            top: 0;
            width: 100%;
            height: 100%;
        }

        .avatarImage {
            position: relative;
        }
    }

    .name {
        @include dFlex();
        @include flexRow();
        @include justifyContentCenter();
        @include alignItemsCenter();

        .countryImage {}

        .nickname {
            font-style: normal;
            font-weight: 500;
            color: $black1;
        }
    }
}

.darkPlayer {
    background: $indigo2;

    .avatar {
        @include borderRadius(10px);
        background: $lightIndigo7;
    }

    .name {
        .nickname {
            color: $white1;
        }
    }
}

@include applyResponsive320() {
    .player {
        @include borderRadius(10px);

        width: 95px;

        .avatar {
            width: 100%;
            height: 75px;

            margin-bottom: 9px;

            .backgroundImage {}

            .avatarImage {
                max-width: 100%;
                max-height: calc(100% - 7px);
            }
        }

        .name {
            margin-bottom: 21px;

            .countryImage {
                width: 12px;
                height: 8px;

                margin-right: 2px;
            }

            .nickname {
                font-size: 13px;
                line-height: 14px;
            }
        }
    }
}

@include applyResponsive1280() {
    .player {
        @include borderRadius(10px);

        width: 85px;

        .avatar {
            width: 100%;
            height: 75px;

            margin-bottom: 9px;

            .backgroundImage {}

            .avatarImage {
                max-width: 100%;
                max-height: calc(100% - 7px);
            }
        }

        .name {
            margin-bottom: 21px;

            .countryImage {
                width: 12px;
                height: 8px;

                margin-right: 2px;
            }

            .nickname {
                font-size: 13px;
                line-height: 14px;
            }
        }
    }
}