@import 'tools/styles/flex';
@import 'tools/styles/grid';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';

.lineupContainer {
    @include dFlex();

    width: 100%;
    overflow: auto;

    .lineup {
        @include borderRadius(25px);

        height: fit-content;
        background: #F9F9FA;

        .content {
            @include dFlex();

            .title {
                font-weight: 500;
                color: #000000;
            }

            .players {
                @include dFlex();

                .player {}
            }
        }
    }
}

.darkLineupContainer {
    .lineup {
        background: #1F283B;

        .content {
            .title {
                color: #FFFFFF;
            }
        }
    }
}

@include applyResponsive320() {
    .lineupContainer {
        .lineup {
            width: fit-content;

            padding: 20px 26px 20px 26px;

            .content {
                @include flexColumn();
                gap: 16px;

                .title {
                    font-size: 12px;
                    line-height: 14px;
                }

                .players {
                    @include flexRow();
                    gap: 5px;

                    .player {
                        width: 118px;
                    }
                }
            }
        }
    }
}

@include applyResponsive1280() {
    .lineupContainer {
        @include justifyContentCenter();
    }
}