@import 'tools/styles/flex';
@import 'tools/styles/grid';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.player {
    @include dFlex();

    .avatar {}

    .infoBlock {
        font-weight: 500;

        .basic {
            .row {
                @include dFlex();

                .characteristic {
                    color: $grey4;
                    text-align: end;
                }

                .value {
                    @include dFlex();
                    color: $black3;

                    img {}
                }

                .name {}
            }
        }
    }
}

.darkPlayer {
    .infoBlock {
        .basic {
            .row {
                .characteristic {
                    color: $lightIndigo6;
                }

                .value {
                    color: $white1;
                }
            }
        }
    }
}

@include applyResponsive320() {
    .player {
        @include flexColumn();
        @include alignItemsCenter();

        gap: 22px;
        padding: 10px 15px 15px 15px;

        .avatar {
            width: 267px;
            height: 364px;
        }

        .infoBlock {
            font-size: 15px;
            line-height: 35px;

            .basic {
                padding-bottom: 29px;

                .row {
                    @include flexRow();
                    @include alignItemsCenter();

                    gap: 23px;

                    .characteristic {
                        width: 75px;
                    }

                    .value {
                        @include flexRow();
                        @include alignItemsCenter();

                        img {
                            width: 19px;
                            height: 13px;

                            margin-left: 10px;
                        }
                    }

                    .name {
                        line-height: 21px;
                    }
                }
            }
        }
    }
}

@include applyResponsive768() {
    .player {
        @include flexRow();
        @include justifyContentCenter();
        @include alignItemsStart();

        gap: 23px;
        padding-top: 15px;
    }
}

@include applyResponsive1280() {
    .player {
        gap: 43px;
        padding: 30px 0;

        .avatar {
            width: 346px;
            height: 472px;
        }

        .infoBlock {
            .basic {
                padding-bottom: 19px;
            }
        }
    }
}

@include applyResponsive1440() {
    .player {
        @include justifyContentStart();
        gap: 47px;
    }
}