@import 'tools/styles/flex';
@import 'tools/styles/grid';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.playerContainer {
    .player {
        @include dFlex();

        .avatar {}

        .info {
            @include dFlex();
            font-weight: 500;

            .basic {
                @include dFlex();

                .row {
                    @include dFlex();

                    .characteristic {
                        text-align: end;
                        color: $grey4;
                    }

                    .value {
                        @include dFlex();
                        color: $black3;

                        img {}
                    }

                    .name {}
                }
            }

            .stats {}
        }
    }

    .outsideMatches {}
}

.isDark {
    .player {
        .info {
            .basic {
                .row {
                    .characteristic {
                        color: $lightIndigo6;
                    }

                    .value {
                        color: $white1;
                    }
                }
            }
        }
    }
}

@include applyResponsive320() {
    .playerContainer {
        .player {
            @include flexColumn();
            @include alignItemsCenter();

            gap: 20px;
            padding: 28px 15px 13px 15px;

            .avatar {
                width: 267px;
                height: 364px;
            }

            .info {
                @include flexColumn();

                width: 100%;
                max-width: 360px;

                font-size: 15px;
                line-height: 35px;

                .basic {
                    @include flexColumn();
                    @include alignItemsStart();

                    padding-bottom: 46px;

                    .row {
                        @include flexRow();
                        gap: 23px;

                        .characteristic {
                            width: 86px;
                        }

                        .value {
                            @include flexRow();
                            @include alignItemsCenter();

                            img {
                                width: 19px;
                                height: 13px;

                                margin-bottom: 5px;
                                margin-left: 10px;
                            }
                        }

                        .name {
                            line-height: 21px;
                        }
                    }
                }
            }
        }

        .outsideMatches {
            padding: 0 15px;
        }
    }
}

@include applyResponsive768() {
    .playerContainer {
        padding-bottom: 20px;

        .player {
            @include flexRow();
            @include justifyContentCenter();
            @include alignItemsStart();

            padding-bottom: 20px;

            .avatar {
                width: 296px;
                height: 404px;
            }

            .info {
                .basic {
                    padding-bottom: 15px;
                }
            }
        }
    }
}

@include applyResponsive1280() {
    .playerContainer {
        .player {
            gap: 43px;

            .avatar {
                width: 346px;
                height: 472px;
            }

            .info {
                width: auto;
                max-width: none;

                gap: 15px;

                .basic {
                    padding-bottom: 5px;
                }

                .stats {
                    max-width: 551px;
                }
            }
        }
    }
}