@import 'tools/styles/grid';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.stats {
    @include borderRadius(25px);
    background: $white4;

    .content {
        @include dGrid();

        .card {
            @include borderRadius(10px);
            background: $white1;

            font-weight: 500;

            .value {
                color: $black1;
            }

            .center {
                text-align: center;
            }

            .characteristic {
                white-space: nowrap;
                color: $grey1;
            }
        }
    }
}

.darkStats {
    background: $indigo4;

    .content {
        .card {
            background: $indigo2;

            .value {
                color: $white1;
            }

            .characteristic {
                color: $lightIndigo4;
            }
        }
    }
}


@include applyResponsive320 {
    .stats {
        max-width: 551px;
        padding: 23px 18px 23px 17px;

        .content {
            @include gridRows(1fr 1fr);
            @include gridColumns(repeat(2, 1fr));

            gap: 10px;

            .card {
                padding: 14px 15px 15px 16px;

                .value {
                    font-size: 16px;
                    line-height: 18px;

                    padding-bottom: 4px;
                }

                .center {
                    text-align: start;
                }

                .characteristic {
                    font-size: 9px;
                    line-height: 10px;
                }
            }
        }
    }
}

@include applyResponsive768 {
    .stats {
        .content {
            @include gridColumns(repeat(3, 1fr));
            gap: 8px;
        }
    }
}

@include applyResponsive1280 {
    .stats {
        padding: 22px 26px 22px 26px;
    }
}