@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';

.doc {
    .name {
        @include removeLinkUnderline();

        font-style: normal;
        font-weight: 400;
        color: #3173FF;
        cursor: pointer;
    }

    .size {
        font-style: normal;
        font-weight: 400;
        color: #7C7C7C;
    }
}

.darkTheme {
    .size {
        color: #7282A3;
    }
}

@include applyResponsive320() {
    .doc {
        .name {
            font-size: 15px;
            line-height: 16px;

            margin-bottom: 2px;
        }

        .size {
            font-size: 11px;
            line-height: 13px;
        }
    }
}

@include applyResponsive1280() {
    .doc {
        .name {
            font-size: 15px;
            line-height: 16px;

            margin-bottom: 2px;
        }

        .size {
            font-size: 11px;
            line-height: 13px;
        }
    }
}