@import 'tools/styles/grid';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.stats {
    @include borderRadius(25px);
    background: $white4;

    .content {
        @include dGrid();

        .card {
            font-weight: 500;

            background: $white1;
            @include borderRadius(10px);

            padding: 14px 50px 15px 25px;

            .value {
                font-size: 16px;
                line-height: 18px;
                color: $black1;

                margin-bottom: 4px;
            }

            .characteristic {
                font-size: 9px;
                line-height: 10px;
                color: $grey1;
            }
        }
    }
}

.isDark {
    background: $indigo4;

    .content {
        .card {
            background: $indigo2;

            .value {
                color: $white1;
            }

            .characteristic {
                color: $lightIndigo4;
            }
        }
    }
}

@include applyResponsive320() {
    .stats {
        padding: 23px 18px;

        .content {
            @include gridColumns(1fr 1fr);
            @include gridRows(1fr 1fr 1fr);

            gap: 10px 8px;
        }
    }
}

@include applyResponsive1280() {
    .stats {
        padding: 22px 26px;

        .content {
            @include gridColumns(1fr 1fr 1fr);
            @include gridRows(1fr 1fr);

            gap: 8px;
        }
    }
}