@import 'tools/styles/flex';
@import 'tools/styles/grid';
@import 'tools/styles/helpers';
@import 'tools/styles/adaptive';
@import 'styles/constants';

.teamContainer {
    .team {
        @include dFlex();

        .baguetteLogo {
            @include dFlex();
            @include borderRadius(25px);

            background: $white4;

            .logoImg {}
        }

        .infoContainer {
            @include dFlex();
            font-weight: 500;

            .basic {
                @include dFlex();

                .row {
                    @include dFlex();

                    .characteristic {
                        text-align: end;
                        color: $grey4;
                    }

                    .value {
                        @include dFlex();
                        color: $black3;

                        img {}
                    }
                }

                .stats {}

                .insideLineup {}
            }
        }

        .outsideLineup {}
    }
}

.darkTeamContainer {
    .team {
        .baguetteLogo {
            background: $indigo4;
        }

        .infoContainer {
            .basic {
                .row {
                    .characteristic {
                        color: $lightIndigo6;
                    }

                    .value {
                        color: $white1;
                    }
                }
            }
        }
    }
}

@include applyResponsive320() {
    .teamContainer {
        .team {
            @include flexColumn();
            @include alignItemsCenter();

            gap: 20px;
            padding: 28px 15px 13px 15px;

            .baguetteLogo {
                @include justifyContentCenter();

                width: 100%;
                max-width: 350px;

                padding: 47px 69px 46px 69px;

                .logoImg {
                    min-width: 129px;
                    height: 129px;
                }
            }

            .infoContainer {
                @include flexColumn();

                font-size: 15px;
                line-height: 35px;

                .basic {
                    @include flexColumn();
                    @include alignItemsStart();

                    padding-bottom: 46px;

                    .row {
                        @include flexRow();
                        gap: 23px;

                        .characteristic {
                            width: 86px;
                        }

                        .value {
                            @include flexRow();
                            @include alignItemsCenter();

                            img {
                                width: 19px;
                                height: 13px;

                                margin-bottom: 5px;
                                margin-left: 10px;
                            }
                        }
                    }
                }

                .insideLineup {
                    display: none !important;
                }
            }
        }

        .outsideLineup {
            @include hideScrollbar();

            padding: 0 15px 20px 15px;
        }
    }
}

@include applyResponsive768() {
    .teamContainer {
        .team {
            @include flexRow();
            @include justifyContentCenter();
            @include alignItemsStart();

            padding-bottom: 20px;

            .baguetteLogo {
                padding: 68px 15px 68px 15px;

                .logoImg {
                    min-width: 159px;
                    height: 159px;
                }
            }

            .infoContainer {
                .basic {
                    padding-bottom: 15px;
                }
            }
        }

        .outsideLineup {
            padding-bottom: 28px;
        }
    }
}

@include applyResponsive1280() {
    .teamContainer {
        .team {
            gap: 43px;

            .baguetteLogo {
                padding: 67px 64px 62px 65px;

                .logoImg {
                    min-width: 217px;
                    height: 217px;
                }
            }

            .infoContainer {
                gap: 11px;

                .basic {
                    padding-bottom: 12px;
                }

                .insideLineup {
                    @include dFlex();
                }
            }
        }

        .outsideLineup {
            display: none !important;
        }
    }
}